@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
  background: linear-gradient(90deg,#242424 49px,transparent 1%) 50%,linear-gradient(#242424 49px,transparent 1%) 50%;
  background-color: rgba(100, 100, 100);
  background-size: 50px 50px;
  /* background: rgb(40,49,59); */
  /* background: linear-gradient(90deg, rgba(40,49,59,1) 23%, rgba(72,84,97,1) 91%); */
  /* background-image: linear-gradient(to right, #283137, #2f3a3f, #374246, #3f4b4d, #485455); */
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#nav {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border: .15rem solid rgba(65, 65, 65, 0.10);
}

@layer components {
  .btn {
    @apply px-4 py-2 text-gray-400 border-transparent border-2 rounded-lg uppercase tracking-[0.20em] hover:text-white hover:border-zinc-900 hover:border-0.5 hover:shadow-[inset_13rem_0_0_0] hover:shadow-stone-700 duration-[400ms,700ms] transition-[color,box-shadow];
  }

  .navBtn {
    @apply text-gray-400 px-4 py-2 border-transparent border-2 rounded-lg tracking-[0.20em] uppercase transition-all hover:border-neutral-700 hover:border-2 active:-translate-y-1;
  }
}
