@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(36, 36, 36);
  color: white;
  font-family: Tahoma;
}

#nav {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border: .15rem solid rgba(65, 65, 65, 0.10);
}
